<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <?= $this->title ?>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>


<body>
    <div>
        <?php
        if (key_exists('feedback', $_SESSION) && !is_null($_SESSION)) {
            
            echo <<<HTML
                <article class="message is-primary">
                    <div class="message-header">
                        <p>{$_SESSION['feedback']}</p>
                    </div>
                </article>
            HTML;
        }
        unset($_SESSION['feedback'])
        ?>
        
    </div>
   
    
    <nav>
        <ul class="navbar-start">
            <?php
                foreach($this->menu as $key => $url){
                    echo <<<HTML
                            <li class="nav-item">
                                <a class="navbar-item" href="{$url}">{$key}</a>
                            </li>
                        HTML;
            } 
            ?>
        </ul>
    </nav>


    <div class="box">
        <h1 class="title is-1">
            <?= $this->title ?>
        </h1>
        <p class="subtitle is-4">
            <?= $this->content ?>
        </p>
    </div>

</body>

</html>