<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>
        <?= $this->title ?>
    </title>

    <script>


        function insertElement(id, data, button) {
            const block = document.getElementById(id);
            //console.log(block);
            const isVisible = block.style.display !== 'none';
            if (isVisible) {
                block.style.display = 'none';
                block.innerText = '';
            }
            else {
                const strong = document.createElement('strong');
                strong.textContent = 'espece: ' + data.espece + ' age: ' + data.age;
                block.appendChild(strong);
                block.style.display = 'block';
                console.log(block);
            }

        }
        function getDetails(id, button) {

                       //https://dev-zahry211.users.info.unicaen.fr/exoMVCR/site.php?action=json&id=chopin
            const URL = 'https://dev-zahry211.users.info.unicaen.fr/exoMVCR/site.php?action=json&id=';
            var xhr = new XMLHttpRequest();
            console.log(URL + id);
            xhr.open('Get', URL + id, true);
            xhr.onload = function () {
                if (xhr.status >= 200) {
                    let response = JSON.parse(xhr.responseText);
                    console.log(response);
                    insertElement(id, response, button);


                }
                else {
                    console.log('request failed', xhr.status);
                }

            };
            xhr.onerror = function () {
                console.error('Erreur réseau');
            };
            xhr.send();
        }



    </script>


</head>

<body>
    <?php echo $this->getMenuTemplate(); ?>
    <section class="section is-medium">

        <?php
            echo $this->getFeedbackMessage();
            unset($_SESSION['feedback']);
         ?>


        <h1 class="title is-1">
            <?= $this->title ?>
        </h1>
        <p class="subtitle is-4">
            <?= $this->content ?>
        </p>
    </section>

</body>

</html>