

<body>
  <?= $this->getFeedbakMessage();?>
    <!-- <div>
      <ul>
        
        <?php
        foreach($this->menu as $key => $url){
            echo <<<HTML
                <li class="">
                    <a class="" href={$url}>{$key}</a>
                </li>
                HTML;
         } 
    ?>
      </ul>
    </div> -->
    
    <?php echo $this->getMenuTemplate(); ?>

    <div class="box">
      <h1 class="title"><?= $this->title ?></h1>
      <h2 class="subtitle"><?= $this->content ?></h2>
    </div>

  </body>
</html>
